<!--begin form-->
<div class="container content-wrap">
  <div class="row">
    <div class="col-md-12">

      <%= form_for(@space, url: {action: "update"}, :html => {:class => "form-ihaveaspace"}) do |f| %>

        <h2 class="form-ihaveaspace-heading">Edit your space</h2>

        <%= f.label "Name of Space" %>
        <%= f.text_field :name, :id=>"spacename", :class => 'form-control', placeholder: @space.name, required: true, autofocus: true %>

        <%= f.label "Address Line 1" %>
        <%= f.text_field :address1, :id=>"address1", :class => 'form-control', placeholder: @space.address1, :required => true %>

        <%= f.label "Address Line 2" %>
        <%= f.text_field :address2, placeholder: @space.address2, :class => 'form-control' %>

        <%= f.label "City" %>
        <%= f.text_field :city, placeholder: @space.city, :class => 'form-control' %>

        <div class="label">State</div>
        <%= f.select :state, [["Alaska", "AK"], ["Alabama", "AL"], ["Arkansas", "AR"], ["American Samoa", "AS"], ["Arizona", "AZ"], ["California", "CA"], ["Colorado", "CO"], ["Connecticut", "CT"], ["District of Columbia", "DC"], ["Delaware", "DE"], ["Florida", "FL"], ["Georgia", "GA"], ["Guam", "GU"], ["Hawaii", "HI"], ["Iowa", "IA"], ["Idaho", "ID"], ["Illinois", "IL"], ["Indiana", "IN"], ["Kansas", "KS"], ["Kentucky", "KY"], ["Louisiana", "LA"], ["Massachusetts", "MA"], ["Maryland", "MD"], ["Maine", "ME"], ["Michigan", "MI"], ["Minnesota", "MN"], ["Missouri", "MO"], ["Mississippi", "MS"], ["Montana", "MT"], ["North Carolina", "NC"], ["North Dakota", "ND"], ["Nebraska", "NE"], ["New Hampshire", "NH"], ["New Jersey", "NJ"], ["New Mexico", "NM"], ["Nevada", "NV"], ["New York", "NY"], ["Ohio", "OH"], ["Oklahoma", "OK"], ["Oregon", "OR"], ["Pennsylvania", "PA"], ["Puerto Rico", "PR"], ["Rhode Island", "RI"], ["South Carolina", "SC"], ["South Dakota", "SD"], ["Tennessee", "TN"], ["Texas", "TX"], ["Utah", "UT"], ["Virginia", "VA"], ["Virgin Islands", "VI"], ["Vermont", "VT"], ["Washington", "WA"], ["Wisconsin", "WI"], ["West Virginia", "WV"], ["Wyoming", "WY"]], :class => 'form-control' %>

        <%= f.label "Zip" %>
        <%= f.text_field :zip, placeholder: @space.zip, :class => 'form-control' %>

        <!--%= f.text_field :zip, hidden: true, placeholder: "Latitude", :class => 'form-control', :hidden => true %-->
        <%= hidden_field_tag(:Latitude, "") %>

        <!--%= f.text_field :zip, hidden: true, placeholder: "Longitude", :class => 'form-control' %-->
        <%= hidden_field_tag(:Latitude, "") %>

        <%= f.label "Description" %>
        <%= f.text_area :description, placeholder: @space.description, :class => 'form-control', :cols => "40", :rows => "5" %>

        <%= f.label "Capacity" %>
        <%= f.text_field :capacity, placeholder: @space.capacity, :class => 'form-control' %>

        <% # f.label "Available all hours?" %>
        <% # f.check_box :available_all_hours %><br />

        <% # f.label "Alternate Contact?" %>
        <% # f.check_box :alternate_contact %>

        <% # if current_user.is_admin? %>
        <% # f.label "Admin Notes" %>
        <% # f.text_field :admin_notes, placeholder: @space.admin_notes, :class => 'form-control' %>
        <% # end %>

        <%= f.submit "Submit", :class => "btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div> <!-- /container -->

