.booyah-box.col-xs-10.col-xs-offset-1
  .panel.panel-default
    .panel-heading My Spaces
    %table.table
      %td Name
      %td Description
      %td Comments
      %td Image
      - @spaces.each do |space|
        %tr
          %td= space.name
          %td= space.description
          %td= space.comments
          %img{src: space.image_url.to_s}
          %td= link_to "Edit Space", edit_space_path(space)
          %td= link_to "Delete Space", space_path(space), data: { confirm: "Are you sure?" }, method: :delete
.booyah-box.col-xs-10.col-xs-offset-1
  .panel.panel-default
    .panel-heading My Activities
    %table.table
      %td Name
      %td Description
      %td Comments
      %td User
      - @activities.each do |activity|
        %tr
          %td= activity.name
          %td= activity.description
          %td= activity.comments
          %td= link_to "Edit Activity", edit_activity_path(activity)
          %td= link_to "Delete Activity", activity_path(activity), data: { confirm: "Are you sure?" }, method: :delete
