<div class="container content-wrap">
<h2>Edit <%= @user.name %></h2>

<%= form_for [:admin, @user] do |f| %>
  <%= @user.errors if @user.errors.any? %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autocomplete: "off" %></div>

  <div><%= f.label "Check to make admin" %><br /><%= f.check_box :is_admin %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<%= button_to "Delete this user", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
