<div class="container content-wrap">
  <a href=<%= admin_spaces_path %> class="btn btn-default btn-info admin-buttons">Admin Spaces</a>
  <a href=<%= admin_activities_path %> class="btn btn-default btn-info admin-buttons">Admin Activities</a>
  <a href=<%= admin_events_path %> class="btn btn-default btn-info admin-buttons">Admin Events</a>
  <div class="panel panel-default">
    <div class="panel-heading">User Admin Page</div>
    <table class="table">
      <td>Name</td>
      <td>Email</td>
      <td>Admin?</td>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, admin_user_path(user) %></td>
          <td><%= mail_to user.email, user.email %></td>
          <td><%= user.is_admin ? "X" : "" %></td>
          <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
          <td><%= link_to "Delete", user_path(user), data: { confirm: "Are you sure?" }, method: :delete %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @users %>
    </div>
  </div>
</div>
