<!--begin form-->
<div class="container content-wrap">
  <div class="row">
    <div class="col-md-12">

      <%= form_for(@activity, url: {action: "create"} ) do |f| %>


        <h2 class="form-ineedaspace-heading">What are you looking for?</h2>
        <%= f.text_field :name, autofocus: true, placeholder: "Name of Space*", :class => 'form-control' %>

        <%= f.text_area :description, placeholder: "Description", :class => 'form-control', :cols => "40", :rows => "5" %>

        <%= f.text_field :capacity, placeholder: "Capacity", :class => 'form-control' %>

        <%= f.submit "Submit", :class => "btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div> <!-- /container -->


